<!doctype html>
<html>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Quiz</title>
    <link rel="stylesheet" href="/css/style.css">
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js'></script>
    
</head>

<body oncontextmenu='return false' class='snippet-body'>
<div>
<script type='text/javascript' src='/js/quiz.js'></script>
    <div class="widget-wrap">
        <h1>Contestando preguntas</h1>
        <h1><%@n%></h1>
        
        <div id="quizWrap"></div>
    </div>

</body>

</html>